Repository jefflester/minitrino: changes, and which pre-commit hooks are due for each by the changed paths.
All: docformatter, bandit, vulture, deptry, sync-cluster-version, validate-pytest-collection

Path conditions:
  docformatter: any of: \.py$ and not (^docs/conf.py) and not (^(venv/|build/|dist/|\.eggs/))
  bandit: any of: \.py$, but not: ^(venv/|build/|dist/|\.eggs/)
  vulture: any of: \.py$, but not: ^(venv/|build/|dist/|\.eggs/)
  deptry: any of: \.py$, but not: ^(venv/|build/|dist/|\.eggs/)
  sync-cluster-version: any of: ^src/lib/minitrino.env|src/lib/docker-compose.yaml|src/cli/minitrino/settings.py, but not: ^(venv/|build/|dist/|\.eggs/)
  validate-pytest-collection: any of: ^src/tests/.*\.py$, but not: ^(venv/|build/|dist/|\.eggs/)

Handle both Maven/GH lookups for published CLI binary (Trino changed publushing location to GH recently)
  src/lib/image/src/scripts/install.sh
Due: none

Fix duplicate rollback and error logs on provisioning failure
  src/cli/minitrino/core/cluster/provisioner.py
  src/tests/cli/integration_tests/test_cmd_provision.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Simplify GitHub Actions CI: consolidate jobs and eliminate redundant actions
  .github/actions/pull-test-image/action.yaml
  .github/actions/setup-image-pull/action.yaml
  .github/actions/setup-test-environment/action.yaml
  .github/actions/wait-for-test-release/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/update-version-files.yaml
  docs/get-started/dev/github-workflows.md
Due: none

Lint switcher.json
  docs/_static/switcher.json
Due: none

Organize gitignore
  .gitignore
Due: none

Flatten image/src/ directory and rename downloader script
  src/lib/image/Dockerfile
  src/lib/image/data/java-matrix.json
  src/lib/image/data/plugin-removelist.txt
  src/lib/image/etc/app-config/catalog/jmx.properties
  src/lib/image/etc/app-config/catalog/memory.properties
  src/lib/image/etc/app-config/catalog/tpcds.properties
  src/lib/image/etc/app-config/catalog/tpch.properties
  src/lib/image/etc/app-config/config.properties
  src/lib/image/etc/app-config/log.properties
  src/lib/image/etc/app-config/node.properties
  src/lib/image/scripts/copy-config.sh
  src/lib/image/scripts/download_tarball.py
  src/lib/image/scripts/gen_config.py
  src/lib/image/scripts/install-java-builder.sh
  src/lib/image/scripts/install.sh
  src/lib/image/scripts/prune_plugins.py
  src/lib/image/scripts/run-bootstraps.sh
  src/lib/image/scripts/run-minitrino.sh
  src/tests/cli/unit_tests/image/test_download_tarball.py
  src/tests/cli/unit_tests/image/test_gen_config.py
  src/tests/cli/unit_tests/image/test_prune_plugins.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Add --source-code flag to provision from local Maven build output
  .github/workflows/ci.yaml
  .github/workflows/source-build-tests.yaml
  docs/get-started/user/workflow-examples.md
  src/cli/minitrino/cmd/provision.py
  src/cli/minitrino/core/cluster/ops.py
  src/cli/minitrino/core/cluster/provisioner.py
  src/cli/minitrino/core/cluster/source.py
  src/lib/docker-compose.yaml
  src/lib/image/Dockerfile
  src/tests/cli/integration_tests/test_source_build.py
Due: docformatter, bandit, vulture, deptry, sync-cluster-version, validate-pytest-collection

Centralize lib image scripts path in tests/common
  src/tests/cli/unit_tests/image/test_download_tarball.py
  src/tests/cli/unit_tests/image/test_gen_config.py
  src/tests/cli/unit_tests/image/test_prune_plugins.py
  src/tests/common.py
  src/tests/lib/module_test.py
  src/tests/lib/runner.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Build worker etc tar via Docker archive API
  src/cli/minitrino/core/cluster/ops.py
Due: docformatter, bandit, vulture, deptry

Read coordinator config files via Docker archive API
  src/cli/minitrino/core/cluster/validator.py
Due: docformatter, bandit, vulture, deptry

Read SERVICE_USER and SERVICE_UID from container env
  src/cli/minitrino/utils.py
  src/lib/image/Dockerfile
Due: docformatter, bandit, vulture, deptry

Dedupe docker context inspect helper
  src/cli/minitrino/core/docker/socket.py
Due: docformatter, bandit, vulture, deptry

Add --yes / -y flag and MINITRINO_ASSUME_YES env var
  docs/get-started/user/environment-variables-and-config.md
  src/cli/minitrino/cli.py
  src/cli/minitrino/core/context.py
  src/cli/minitrino/core/envvars.py
  src/cli/minitrino/settings.py
  src/tests/cli/integration_tests/conftest.py
Due: docformatter, bandit, vulture, deptry, sync-cluster-version, validate-pytest-collection

Rename ctx.lib_manager to library_manager and drop check_lib
  src/cli/minitrino/cmd/down.py
  src/cli/minitrino/cmd/lib_install.py
  src/cli/minitrino/cmd/modules.py
  src/cli/minitrino/cmd/snapshot.py
  src/cli/minitrino/core/cluster/provisioner.py
  src/cli/minitrino/core/context.py
  src/cli/minitrino/utils.py
  src/tests/cli/unit_tests/test_utils.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Back up existing library on install with rollback on failure
  src/cli/minitrino/core/library.py
  src/tests/cli/integration_tests/test_cmd_lib_install.py
  src/tests/cli/unit_tests/test_library_manager.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Auto-prompt CLI/lib sync with 24h decline cache
  src/cli/minitrino/core/context.py
  src/cli/minitrino/core/library.py
  src/tests/cli/unit_tests/test_library_manager.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Update docs for automatic lib sync and --yes flag
  docs/get-started/user/cli-reference.md
  docs/get-started/user/installation-and-upgrades.md
  docs/get-started/user/troubleshooting.md
Due: none

Update ci.yaml
  .github/workflows/ci.yaml
Due: none

CI fixes
  src/lib/image/Dockerfile
  src/lib/image/scripts/download_tarball.py
  src/tests/cli/unit_tests/exec/test_cmd.py
  src/tests/cli/unit_tests/test_context.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Add test watchdog, migrate lib tests to pytest, and auto-resolve Starburst versions
  .github/actions/get-cluster-version/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/source-build-tests.yaml
  docs/get-started/dev/cli-and-library-tests.md
  src/minitrino/cluster/validator.py
  src/minitrino/starburst.py
  src/minitrino/utils.py
  src/tests/common.py
  src/tests/conftest.py
  src/tests/lib/conftest.py
  src/tests/lib/module_test.py
  src/tests/lib/runner.py
  src/tests/lib/test_modules.py
  src/tests/lib/utils.py
  src/tests/watchdog.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Fix cache-service config rename and add CI failure diagnostics
  .github/actions/collect-failure-diagnostics/action.yaml
  .github/workflows/ci.yaml
  src/lib/modules/admin/cache-service/resources/cluster/cache.properties
Due: none

Fix test watchdog and signal-handler crash in in-process provision
  .github/actions/collect-failure-diagnostics/action.yaml
  .github/workflows/ci.yaml
  src/minitrino/cluster/provisioner.py
  src/minitrino/exec/host.py
  src/tests/conftest.py
  src/tests/watchdog.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Bump cache-service heap to 2G and gate mysql-event-listener on MySQL health
  src/lib/modules/admin/cache-service/cache-service.yaml
  src/lib/modules/admin/mysql-event-listener/mysql-event-listener.yaml
Due: none

Fix worker put_archive race by staging /etc before container start
  src/minitrino/cluster/ops.py
Due: docformatter, bandit, vulture, deptry

Add release notes
  release-notes/3.1.0.md
Due: none

PR feedback
  src/minitrino/cluster/ops.py
  src/minitrino/library.py
  src/tests/cli/unit_tests/test_library_manager.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Switch release smoke test from macos-13 (retired) to macos-14
  .github/workflows/release.yaml
Due: none

Switch minio module to pgsty/minio and pgsty/mc images
  docs/get-started/user/environment-variables-and-config.md
  docs/modules/admin/minio.md
  pyproject.toml
  readme.md
  release-notes/3.1.1.md
  src/lib/minitrino.env
  src/lib/modules/admin/minio/minio.yaml
  src/lib/version
Due: sync-cluster-version

Add 3.1.1 to docs version switcher
  docs/_static/switcher.json
Due: none

Propagate pipeline failures in Makefile targets
  Makefile
  release-notes/3.1.1.md
Due: none

Write trailing newline in switcher JSON pre-commit hook
  .precommit/update_switcher_json.py
  release-notes/3.1.1.md
Due: docformatter, bandit, vulture, deptry

3.1.1 (#160)
  .precommit/update_switcher_json.py
  Makefile
  docs/_static/switcher.json
  docs/get-started/user/environment-variables-and-config.md
  docs/modules/admin/minio.md
  pyproject.toml
  readme.md
  release-notes/3.1.1.md
  src/lib/minitrino.env
  src/lib/modules/admin/minio/minio.yaml
  src/lib/version
Due: docformatter, bandit, vulture, deptry, sync-cluster-version

Switch macOS smoke test runner from macos-13 to macos-15-intel
  .github/workflows/release.yaml
  docs/get-started/dev/github-workflows.md
Due: none

Update version files to 3.1.2
  pyproject.toml
  readme.md
  src/lib/version
Due: none

deps(deps): bump click from 8.3.3 to 8.5.0
  docs/_static/switcher.json
  pyproject.toml
Due: none

Extract smoke test into reusable workflow and fix false passes
  .github/workflows/release.yaml
  .github/workflows/smoke-test.yaml
  docs/get-started/dev/github-workflows.md
Due: none

Add 3.1.2 release notes
  release-notes/3.1.2.md
Due: none
