Repository jefflester/minitrino: changes, and which pre-commit hooks are due for each by the changed paths.
All: docformatter, bandit, vulture, deptry, sync-cluster-version, validate-pytest-collection

docformatter:
  name: Format docstrings
  description: Format docstrings to 88 characters
  entry: docformatter
  language: python
  additional_dependencies:
  - docformatter
  args:
  - --wrap-summaries
  - '88'
  - --wrap-descriptions
  - '88'
  - --in-place

bandit:
  name: bandit (informational)
  entry: bash -c 'venv/bin/bandit -r src/cli/ --skip B101,B603 -q || true'
  language: system
  pass_filenames: false
  verbose: true

vulture:
  name: Log unused code (vulture)
  entry: .precommit/run-vulture.sh
  language: script
  pass_filenames: false

deptry:
  name: Check dependency usage (deptry)
  entry: bash -c 'venv/bin/deptry . || true'
  language: system
  pass_filenames: false
  verbose: true

sync-cluster-version:
  name: Sync cluster version across files
  entry: python .precommit/sync_cluster_version.py
  language: python

validate-pytest-collection:
  name: Validate tests can be collected
  entry: bash -lc '.precommit/validate_pytest_collection.sh'
  language: system
  pass_filenames: false
  description: Ensure pytest can collect all tests without errors

deps: Implement Dependabot and strengthen security constraints
  .github/dependabot.yaml
  docs/get-started/dev/github-workflows.md
  docs/get-started/user/reporting-bugs-and-contributing.md
  pyproject.toml
  release-notes/3.0.1.md
Due: none

Fix CI workflow failures: remove old workflows and fix composite actions
  .github/actions/prepare-test-matrix/action.yaml
  .github/actions/setup-docker-build/action.yaml
  .github/actions/setup-test-environment/action.yaml
  .github/workflows/build-test-images.yaml
  .github/workflows/ci.yaml
  .github/workflows/cli-tests.yaml
  .github/workflows/lib-tests-sep.yaml
  .github/workflows/lib-tests-trino.yaml
  .github/workflows/test-release.yaml
Due: none

Fix CI workflow failures: remove old workflows and fix composite actions
  .github/actions/prepare-test-matrix/action.yaml
  .github/actions/setup-test-environment/action.yaml
  .github/workflows/ci.yaml
Due: none

Fix test dependencies and minitrino command PATH issues
  .github/actions/setup-test-environment/action.yaml
Due: none

Improve Docker build cache reliability with scoped caching
  .github/workflows/ci.yaml
Due: none

Fix test dependencies not installing: remove broken conditional
  .github/actions/setup-test-environment/action.yaml
  .github/workflows/ci.yaml
Due: none

Fix Python environment deletion: move cleanup-disk to run early
  .github/actions/setup-image-pull/action.yaml
  .github/workflows/ci.yaml
Due: none

Fix Docker image tagging: use local minitrino/cluster tag format
  .github/actions/setup-image-pull/action.yaml
Due: none

Fix tilde expansion in config parsing and update documentation
  docs/get-started/dev/cli-and-library-tests.md
  docs/get-started/dev/github-workflows.md
  docs/get-started/user/reporting-bugs-and-contributing.md
  docs/index.md
  docs/modules/admin/cache-service.md
  docs/modules/admin/data-products.md
  docs/modules/admin/starburst-gateway.md
  docs/modules/catalog/iceberg-hms.md
  docs/modules/catalog/stargate.md
  readme.md
  src/cli/minitrino/core/envvars.py
Due: docformatter, bandit, vulture, deptry

Propagate LIC_DATA env var in lib tests
  .github/workflows/ci.yaml
  src/tests/lib/module_test.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Change from direct GitHub Actions interpolation to shell variable for SEP license writing
  .github/actions/setup-test-environment/action.yaml
Due: none

Update version files to 3.0.2
  pyproject.toml
  readme.md
  src/lib/version
Due: none

Update release workflow and auto-stage switcher.json in pre-commit
  .github/workflows/release.yaml
  .precommit/update_switcher_json.py
  docs/_static/switcher.json
  docs/get-started/dev/github-workflows.md
Due: docformatter, bandit, vulture, deptry

Fix version sync to not corrupt ruff config and blacklist 3.0.0 docs
  .precommit/sync_version_files.py
  .precommit/update_switcher_json.py
  docs/_static/switcher.json
  pyproject.toml
Due: docformatter, bandit, vulture, deptry

Fix version selector to show actual version instead of hardcoded 'master'
  docs/conf.py
Due: bandit, vulture, deptry

Add 3.0.2 release notes
  release-notes/3.0.2.md
Due: none

Update release notes with dependency updates
  release-notes/3.0.2.md
Due: none

Fix Click 8.2+ compatibility: handle removal of mix_stderr parameter
  src/tests/common.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

3.0.2 (#142)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update-version-files.yaml
  .precommit/sync_version_files.py
  .precommit/update_switcher_json.py
  docs/_static/switcher.json
  docs/conf.py
  docs/get-started/dev/github-workflows.md
  pyproject.toml
  readme.md
  release-notes/3.0.2.md
  src/lib/version
  src/tests/common.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Fix lib-install/config failing without library and add PyPI smoke test
  .github/workflows/smoke-test.yaml
  docs/get-started/dev/github-workflows.md
  readme.md
  release-notes/3.0.3.md
  src/cli/minitrino/cmd/config.py
  src/cli/minitrino/cmd/lib_install.py
  src/cli/minitrino/core/context.py
  src/lib/version
  src/tests/cli/unit_tests/core/test_context.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Update version files to 3.0.3
  pyproject.toml
Due: none

Shard CLI integration tests and integrate smoke test into release flow
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/smoke-test.yaml
  docs/_static/switcher.json
  docs/get-started/dev/github-workflows.md
  release-notes/3.0.3.md
Due: none

Remove redundant update-version-files.yaml workflow
  .github/workflows/update-version-files.yaml
  docs/get-started/dev/github-workflows.md
Due: none

Fix pyproject.toml corrupted by old version sync workflow
  pyproject.toml
Due: none

3.0.3 (#145)
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  .github/workflows/update-version-files.yaml
  docs/_static/switcher.json
  docs/get-started/dev/github-workflows.md
  pyproject.toml
  readme.md
  release-notes/3.0.3.md
  src/cli/minitrino/cmd/config.py
  src/cli/minitrino/cmd/lib_install.py
  src/cli/minitrino/core/context.py
  src/lib/version
  src/tests/cli/unit_tests/core/test_context.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Fix release workflow: create draft release before smoke test
  .github/workflows/release.yaml
Due: none

Add workflow_dispatch trigger to release workflow
  .github/workflows/release.yaml
Due: none

Fix release workflow: use non-draft release with delayed latest marking
  .github/workflows/release.yaml
Due: none

Use Python 3.11 for smoke tests (3.10.12 not available on macos-15 arm64)
  .github/workflows/release.yaml
Due: none

Add GitHub auth to lib-install step to avoid rate limits
  .github/workflows/release.yaml
Due: none

Switch smoke test from macos-15 (arm64) to macos-13 (x64)
  .github/workflows/release.yaml
Due: none

Add quick dev install note in readme
  readme.md
Due: none

Replace pre-commit hook with old GH workflow to keep version files in sync
  .github/workflows/update-version-files.yaml
  .pre-commit-config.yaml
  .precommit/sync_version_files.py
  docs/_static/switcher.json
  docs/get-started/dev/github-workflows.md
Due: docformatter, bandit, vulture, deptry

Update version
  pyproject.toml
  readme.md
  src/lib/version
Due: none

Upgrade cluster version from 476 -> 479
  docs/get-started/dev/cli-and-library-tests.md
  docs/get-started/user/cli-reference.md
  docs/get-started/user/environment-variables-and-config.md
  docs/get-started/user/installation-and-upgrades.md
  docs/get-started/user/troubleshooting.md
  docs/get-started/user/workflow-examples.md
  release-notes/3.0.0.md
  src/cli/minitrino/settings.py
  src/lib/docker-compose.yaml
  src/lib/minitrino.env
  src/tests/cli/unit_tests/core/cluster/test_validator.py
  src/tests/cli/unit_tests/image/test_gen_config.py
  src/tests/cli/unit_tests/test_settings.py
Due: docformatter, bandit, vulture, deptry, sync-cluster-version, validate-pytest-collection

Detect editable install for cleaner repo detection
  src/cli/minitrino/core/context.py
Due: docformatter, bandit, vulture, deptry

Fix duplicate log
  src/cli/minitrino/core/cluster/ops.py
Due: docformatter, bandit, vulture, deptry

Bump PROVISION_BUILD_TIMEOUT from 1200s (20m) to 1800s (30m)
  docs/get-started/user/environment-variables-and-config.md
  src/cli/minitrino/core/cluster/provisioner.py
  src/lib/docker-compose.yaml
Due: docformatter, bandit, vulture, deptry, sync-cluster-version

Centralize Java version matrix to a JSON file that all components can resuse; update related tests and undo version hardcoding
  src/lib/image/Dockerfile
  src/lib/image/src/scripts/gen_config.py
  src/lib/image/src/scripts/install-java-builder.sh
  src/lib/image/src/scripts/install.sh
  src/lib/image/src/scripts/java-matrix.json
  src/tests/cli/unit_tests/image/test_gen_config.py
Due: docformatter, bandit, vulture, deptry, validate-pytest-collection

Path conditions:
  docformatter: any of: \.py$ and not (^docs/conf.py) and not (^(venv/|build/|dist/|\.eggs/))
  bandit: any of: \.py$, but not: ^(venv/|build/|dist/|\.eggs/)
  vulture: any of: \.py$, but not: ^(venv/|build/|dist/|\.eggs/)
  deptry: any of: \.py$, but not: ^(venv/|build/|dist/|\.eggs/)
  sync-cluster-version: any of: ^src/lib/minitrino.env|src/lib/docker-compose.yaml|src/cli/minitrino/settings.py, but not: ^(venv/|build/|dist/|\.eggs/)
  validate-pytest-collection: any of: ^src/tests/.*\.py$, but not: ^(venv/|build/|dist/|\.eggs/)
